* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
========================================
Content
========================================
*/
#flex-container-chat {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#channels {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

#messages {
    flex: 3;
    margin: 0px 20px;
}

#members {
    flex: 1;
}

textarea {
    display: block;
    width: 90%;
    height: 20px;
    border: 2px solid #000000;
    padding: 5px;
    font-size: 16px;
}

/*
========================================
Footer
========================================
*/
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}
footer p {
    text-align: center;
}




